.logo {
    height: 50px;
    width: 150px;
}

.nav-container {
    display: flex;
    flex-direction: row;
}

.mid-section {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-link {
    list-style-type: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: 4%;
}

.navbar-link:hover {
    cursor: pointer;
    color: #58CBE5;
}
.nav-btn {
    position: absolute;
    right: 6%;
    top: 2%;
    height: 2rem;
    width: 4.5rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #58CBE5;
    background-color: #58CBE5;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.menu-btn {
    position: absolute;
    right: 2%;
    top: 3%;
    height: 5%;
    width: 3%;
}
.menu-btn:hover {
    cursor:pointer;
}
.nav-btn:hover {
    cursor:pointer;
}
  
  
  
  
  
  
  
  
  