.logo {
    height: 50px;
    width: 150px;
}
.nav-container {
    display: flex;
    flex-direction: row;
}
.mid-section {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar-link {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 4%;
    text-decoration: none;
    color: black;
}
.navbar-link:hover {
    cursor: pointer;
    color: #58CBE5;
}
.nav-btn {
    height: 2rem;
    width: 4.5rem;
    border-radius: 0.3rem;
    border: 0.1rem solid #58CBE5;
    background-color: #58CBE5;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    margin-top: -0.2rem;
}
.menu-btn {
    font-size: 1.5rem;
}
.menu-btn:hover {
    cursor:pointer;
}
.nav-btn:hover {
    cursor:pointer;
}
.right-section {
    position: absolute;
    right: 3%;
    top: 3%;
    display: flex;
    flex-direction: row;
}
.dropdown{
    
}
  
  
  
  
  
  