@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

.PracticeWrapper{
    margin-top: 20px;
    width: 50%;
    margin-left: 300px;
}
.btn-div{
    display: flex;
    /* justify-content: center; */

}
.col {
    flex: 1; /* additionally, equal width */
    margin-right: 300px;
    padding: .5em;
    border: solid;
  }

.progress{
    margin-top: 2%;
    width: 19em;
}
.btn-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.question-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.que-level {
    width: 40%;
    border-radius: 10px;
}
.que-link{
   text-decoration: none;
   font-family: 'Sono', sans-serif;
   
}